body {
    background-color: black;
}

h1 {
    color: white;
}

p{
    
    color: white;
    font-weight: lighter;
    font: size 11px;

font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#p1{
    color:rgb(92, 230, 133);
}
#p3
{
color: rgb(140, 127, 255);
}